.node--type-aipa-lrmi {
  & details {
    margin: var(--finna-spacer-3) 0;
    border: 1px solid var(--finna-color-gray-400);
    & > * {
      padding: var(--finna-spacer-2);
    }
    & summary {
      background-color: var(--finna-color-gray-200);
    }
  }
}
