.node--type-aipa {
  & .record-toc {
    margin: 15px 0;
    padding: 10px;
    background-color: var(--finna-color-gray-200);
    & ul {
      padding: 0;
    }
    & li {
      list-style: none;
    }
  }
}
