.field--name-field-records.search-grid {
  overflow: hidden;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  & .grid:not(.recordcovers) {
    padding: 0 5px 10px;
    margin-bottom: 0;
  }
  & .grid.result {
    width: 33%;
    display: flex;
    float: left;
  }
}
