.node--type-aipa-lrmi {
  & .field--name-field-records {
    display: flex;
    flex-wrap: wrap;
    & > .field__item {
      width: 33%;
    }
  }
  & .node--type-curated-record {
    & h2 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }
}
